#Section_1{

    background: url(hero.jpg) no-repeat 50% 50%;
    background-size: cover;
height:100vh;

}

#Section_Allgemeines{

height:100vh;
position:relative;
background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

}

#Section_Konfiguration{

    height:100vh;
    position:relative;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
   

}

#Section_Telefone{

    height:100vh;
    position:relative;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

}

#Section_ClientKonfiguration{

    height:100vh;
    position:relative;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

}

#Section_Impressum{

    height:100vh;
    position:relative;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

}


.container{

    overflow-y:scroll;
    scroll-behavior:smooth;
    scroll-snap-type:y mandatory;

}

#Text1{

background-color:black;
color:white;
width:33%;
padding: 25px;
position:absolute;
top:10%;
left:10%;
border-radius:50px;
}

#Bild1{

    background-color:black;
    color:white;
    width:33%;
    padding: 25px;
    position:absolute;
    top:10%;
    right:10%;
    border-radius:50px;

}

    
    #Bild2{
    
        background-color:black;
        color:white;
        width:33%;
        
        padding: 25px;
        position:absolute;
        top:40%;
        right:10%;
        border-radius:50px;
    
    }


#Line{

    height:80%;
width:1px;
border:1px white solid;
background:white;
position:absolute;
left:50%;
top:10%;
position:absolute;

}

#arrow_down_1{


width:50px;
position:absolute;
bottom:0%;
right:0%;


}

#arrow_up_1{

width:50px;
position:absolute;
bottom:0%;
right:2%;
    
    
}

#arrow_down_2{


     width:50px;
     position:absolute;
     bottom:0%;
     right:0%;
        
        
}
        
#arrow_up_2{
        
        
     width:50px;
     position:absolute;
     bottom:0%;
     right:2%;
            
            
}

#arrow_down_3{


    width:50px;
    position:absolute;
    bottom:0%;
    right:0%;
    
    
    }
    
    #arrow_up_3{
    
    
        width:50px;
        position:absolute;
        bottom:0%;
        right:2%;
        
        
        }


        #Text1_{

            background-color:black;
            color:white;
            width:25%;
            height:20%;
            padding: 25px;
            position:absolute;
            top:10%;
            left:10%;
            border-radius:6%;
            }
            
            
            
            #Text2_{
            
                background-color:black;
                color:white;
                width:25%;
                height:250px;
                padding: 25px;
                position:absolute;
                top:40%;
                left:10%;
                border-radius:6%;
                }
                
                #Bild2_{
                
                    background-color:black;
                    color:white;
                    width:25%;
                    height:20%;
                    padding: 25px;
                    position:absolute;
                    top:40%;
                    right:10%;
                    border-radius:6%;
                }
            
                #Text3_{
            
                    background-color:black;
                    color:white;
                    width:25%;
                    height:20%;
                    padding: 25px;
                    position:absolute;
                    top:70%;
                    left:10%;
                    border-radius:6%;
                    }
                    
                    #Bild3_{
                    
                        background-color:black;
                        color:white;
                        width:250px;
                        height:150px;
                        padding: 25px;
                        position:absolute;
                        top:70%;
                        right:10%;
                        border-radius:6%;
                    
                    }
.Überschrift{


text-decoration:underline;


}

.comment{

color:greenyellow;
padding-left:5em;

}

#Telefon1{

width:99%;
height:45%;
position:absolute;
    


}

#Telefon2{

   width:99%;
    height:45%;
    position:absolute;
    top:50%;
    
   
}

#MicroSIP_1{

    background-color:black;
    color:white;
    width:25%;
    height:20%;
    padding: 25px;
    position:absolute;
    top:10%;
    left:10%;
    border-radius:50px;
    z-index:2;

}


#MicroSIP_2{

position:absolute;
top:10%;
right:15%;

}

#LinPhone_1{

position:absolute;
top:50%;
left:15%;

}

#LinPhone_2{

    background-color:black;
    color:white;
    width:25%;
    height:20%;
    padding: 25px;
    position:absolute;
    top:50%;
    right:10%;
    border-radius:50px;

}


#logo_LinPhone{

width:30px;
position:absolute;
left:85%;
top:25%;


}

#logo_MicroSIP{

    position:absolute;
    left:25%;
    top:30%;
    width:30px;

}

#Eins{


position:absolute;
top:40%;
transform: translate(-45%,50%);
left:50%;
font-size:50px;
font-family:Poppins;

}

#Zwei{


    position:absolute;
    top:50%;
    transform: translate(-50%,50%);
    left:50%;
    font-size:45px;
    font-family:Poppins;
    
    }

#windows{

width:1900px;
height:450px;

z-index:1;


}

#android{

    width:1900px;
    height:1000px;
    z-index:1;

}